<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a
            class="navbar-brand"
            href="{{ site.baseurl }}/"
            title="Home">
            Benjamin
          </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          {% include nav.html %}
        </div>
      </div>
    </nav>

    <main class="container">
      {{ content }}
    </main>

    <footer class="text-center">
      <small">
        &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
      </small>
    </footer>

  </body>
</html>
