---
layout: default
---

<div class="tils">
  {% for post in site.categories['til'] %}
  <div class="row til">
    <div class="col-xs-12 col-sm-3">
      <h2 class="text-right">
        <small>
          <time datetime="{{ post.date | date_to_xmlschema }}" class="til-date">
            {{ post.date | date: "%B %-d, %Y" }}
          </time>
        </small>
      </h2>
    </div>
    <div class="col-xs-12 col-sm-9">
      <h2 class="til-title">
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
        </a>
      </h2>
    </div>
  </div>
  {% endfor %}
</div>
